@font-face {
  font-family: 'GTPressura';
  src: url('GT-Pressura-Mono-Regular.otf');
}

@font-face {
  font-family: 'GTPressuraLight';
  src: url('GT-Pressura-Mono-Light.otf');
}

@font-face {
  font-family: 'GTWalsheimLight';
  src: url('GT-Walsheim-Light.otf');
}

@font-face {
  font-family: 'GTWalsheimRegular';
  src: url('GT-Walsheim-Regular.otf');
}

@font-face {
  font-family: 'GTWalsheimBold';
  src: url('GT-Walsheim-Bold.otf');
}

p, a, div {
  font-family: GTWalsheimRegular;
}

h1, h2, h3 {
  font-family: GTWalsheimBold;
}

/*
  main yellow color is #ffc107
*/

p, h1, h2, h3, h4, h5, h6 {
  color: #444;
}

*:focus {
    outline: none;
}

.yellow-link {
  text-decoration: none;
  color: #ffc107;
}

.yellow-link:hover {
  text-decoration: underline;
}

.nav-container a {
  text-decoration: none;
}

a.current-page{
  color: #ffc107!important;
}

.clearfix {
  clear: both;
  padding: 0 !important;
  height: 0 !important;
  margin: 0 !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.mainlink {
  text-decoration: none;
  color: white;
}

.blacklink {
  text-decoration: none;
  color: black;
}

.yellowhoverlink {
  text-decoration: none;
  color: black;
  transition: all .25s linear;
}

.yellowhoverlink:hover {
  color: #ffc107;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  /*background-image: url(hero.png);*/
  background-image: url(images/rntrainingbg4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  background-color: #464646;
  padding: 0px 0px 65px;
  -webkit-background-position: center center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-attachment: fixed;
}

.hero-workshop-sf {
  background-image: url(sf.jpg);
}

.hero-workshop-nyc {
  background-image: url(nyc.jpg);
}

.bg-lightgrey {
  background-color: #f6f6f6;
}

.bg-white {
  background-color: #ffffff;
}

.nav {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  float: left;
}

.nav2 {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  float: right;
}

.nav2 p {
  color: white;
  font-family: GTWalsheimLight;
  margin: 0px 20px;
  cursor: pointer;
  margin-top: 14px;
  font-size: 18px;
}

.nav2 p:hover {
  color: #ffc107;
}

.nav2 p a {
  color: white;
  text-decoration: none;
}

.nav2 p a:hover {
  color: #ffc107;
}

.icon {
  width: 40px;
  height: 40px;
}

.logo {
  font-family: GTPressuraLight;
  color: white;
  font-size: 26px;
  margin-left: 15px;
  margin-top: 3px;
}

.main-title-container {
  padding-top: 94px;
}

.main-title {
  font-family: GTWalsheimBold;
  color: white;
  font-size: 36px;
  text-align: center;
  /*text-transform: uppercase;*/
}

.main-title span{
  font-size: 30px;
  font-family: GTWalsheimRegular;
  /*text-transform: uppercase;*/
  font-weight: lighter;
}

.main-subtitle {
  font-family: GTWalsheimLight;
  color: white;
  margin: 20px 200px;
  text-align: center;
  font-size: 22px;
  letter-spacing: .2px;
}

.main-subtitle-button {
  color: white;
  font-family: GTWalsheimLight;
  margin: 0px 20px;
  cursor: pointer;
  margin-top: 4px;
  font-size: 22px;
  text-align: center;
  border: 2px solid #ffc107;
  border-radius: 24px;
  padding: 9px 34px 10px;
  width: 165px;
  margin: 0 auto;
  transition: all .2s;
}

.main-subtitle-button:hover {
  background-color: #ffc107;
  text-shadow: 0px 1px 1px rgba(0,0,0,.34);
}

.mid {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.mid > div {
  width: 400px;
  margin: 0 auto;
  float: left;
  padding: 0px 30px;
}

.mid > div p {
  text-align: center;
  font-family: GTWalsheimLight;
}

.mid > div p:nth-of-type(1) {
  font-size: 22px;
  font-family: GTWalsheimRegular;
  padding: 20px 0px;
}

.mid > div p:nth-of-type(2) {
  color: #a5a5a5;
}

.breaker {
  background-color: #ffc107;
  height: 90px;
  width: 100%;
  margin-top: 50px;
}

.breaker p {
  color: white;
  text-align: center;
  margin: 0px 200px;
  padding: 20px 0px;
  font-size: 20px;
  font-family: GTWalsheimRegular;
}

.on-site-training {
  width: 1050px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.consulting {
  margin-bottom: 40px !important;
  margin-top: 0px !important;
}

.on-site-training-main-title {
  font-family: GTWalsheimRegular;
  text-align: center;
  font-size: 22px;
}

.offering-list > div {
  width: 350px;
  float: left;
  padding: 0px 30px;
}

.workshop-main-title {
  font-family: GTWalsheimRegular;
  text-align: center;
  font-size: 22px;
}

.workshop-date {
  display: flex;
  flex-direction: row;
}

.offering-list {
  margin-top: 30px;
}

.offering-list > div {
  text-align: left;
}

.offering-list p {
  font-family: GTWalsheimRegular;
  margin: 5px 0px ;
  font-size: 18px;
}

 .offering-list i {
  margin-top: 5px;
  margin-right: 8px;
 }

.offering-list p:nth-of-type(2) {
  font-size: 20px;
  font-family: GTWalsheimRegular
}

.offering-list-button {
  font-family: GTWalsheimRegular;
  cursor: pointer;
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
  border: 2px solid #ffc107;
  border-radius: 24px;
  padding: 9px 34px 10px;
  width: 190px;
  transition: all .2s linear;
}

.offering-list-button:hover {
  color: white;
  background-color: #ffc107;
  text-shadow: 0px 1px 1px rgba(0,0,0,.34);
}

.who-we-are-container {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 45px;
  padding-top: 40px;
}

.whomain {
  background-color: #ffffff;
}

.who-i-am {
  width: 500px;
  padding: 0px 30px;
  float: left;
  flex-direction: row;
  margin-top: 30px;
}

.who-i-am img {
  height: 200px;
  width: 200px;
}

.who-i-am-img-container {
  width: 200px; 
  height: 200px;
  float: left;
}

.who-we-are-title {
  font-family: GTWalsheimRegular;
  font-size: 22px;
  text-align: center;
}

.who-i-am * {
  font-family: GTWalsheimRegular;
}

.who-desc {
  float: left;
  width: 240px;
}

.who-desc p {
  margin-left: 20px;
}

.who-desc p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 10px;
}

.who-desc i  {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 7px;
  cursor: pointer;
  transition: all .25s linear;
}

.who-desc i:hover {
  color: #ffc107;
}

.who-desc i:nth-of-type(1)  {
  margin-left: 20px;
}

.our-projects {
  padding: 50px;
  background-color: #f6f6f6;

}

.projects-container {
  width: 999px;
  margin: 0 auto;
}

.project {
  text-align: center;
  margin-top: 20px;
  width: 333px;
  padding: 0px 20px;
  float: left;
}

.project * {
  font-family: GTWalsheimRegular;
}

.project p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 10px;
}

.us-icons {
  display: flex;
  flex-direction: row;
}

.footer {
  padding: 40px 0px 45px;
  border-top: 4px solid #ffc107;
  background-color: black;
}

.footer * {
  color: #666666;
  font-family: GTPressuraLight;
  text-align: center;
}

.overlay {
  width: 700px;
  height: 400px;
  position: fixed;
  z-index: 10;
  left: 50%;
  margin-left: -350px;
  top: 50%;
  margin-top: -200px;
  background-color: white;
  box-shadow: 0px 3px 3px rgba(0,0,0, .2);
  border: 1px solid #ededed;
  padding: 20px;
  display: none;
}

.workshop {
  width: 100%;
  margin-top: 40px;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.workshop p {
  font-family: GTWalsheimRegular;
  margin: 0 auto;
}

.workshop-title {
  text-align: center;
}

.workshop .workshop-button {
  font-size: 18px;
  width: 230px;
  border: 3px solid #ededed;
  padding: 9px 34px;
  text-align: center;
  border-radius: 999px;
  cursor: pointer;
  transition: all .25s linear;
}

.workshop-button:hover {
  background-color: #ededed;
}

.dismiss {
  color: #666666;
  text-align: center;
  cursor: pointer;
  padding-top: 30px;
  transition: all .25s linear;
}

.dismiss:hover {
  opacity: .5;
}

.overlay * {
  font-family: GTPressuraLight;
}

.overlay-title {
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
}

.overlay-button-submit {
  margin: 0 auto;
  background-color: #ffc107;
  padding: 15px;
  width: 320px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 999px;
  cursor: pointer;
  transition: all .25s linear;
}

.overlay-button-submit p {
  color: white;
  font-family: GTWalsheimLight;
  text-align: center;
  font-size: 22px;
  text-shadow: 0px 1px 1px rgba(0,0,0,.14);
}

.overlay-input {
  height: 50px;
  border: 1px solid #ededed;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 0px 10px;
  margin: 10px 0px;
}

.overlay-input:nth-of-type(1) {
  margin-top: 20px;
}

.overlay-input:nth-of-type(2) {
  margin-bottom: 20px;
}

.emailsubmitcontainer {
  padding: 20px;
  width: 900px;
  margin: 0 auto;
}
.emailsubmit {
  float: left;
}

.emailsubmit1 {
  width: 325px;
}

.emailsubmit2 {
  display: flex;
  flex-direction: row;
}

.emailsubmit-title1 {
  font-family: GTWalsheimRegular;
  font-size: 18px;
}

.emailsubmit-title2 {
  font-family: GTWalsheimRegular;
  margin-top: 4px;
  font-size: 18px;
}

.overlay-button-submit:hover {
  background-color: black;
}

.emailsubmitinput {
  height: 50px;
  font-size: 22px;
  font-family: GTWalsheimRegular;
  border: 1px solid #dddddd;
  width: 250px;
  padding: 0px 10px;
}

.emailsubmitbutton {
  cursor: pointer;
  font-family: GTWalsheimRegular;
  padding: 13px 28px;
  margin-left: 20px;
  border: 2px solid #ffc107 !important;
  border-radius: 999px;
  font-size: 18px;
  background-color:transparent;
}

.emailsubmitbutton:hover {
  color: white;

  background-color: #ffc107; 
  transition: all .25s linear;
  text-shadow: 0px 1px 1px rgba(0,0,0,.14);
}

div.emailsubmit2 .mc-field-group {
  display:inherit;
}

.what-youll-learn {
  background-color: #f6f6f6;
}

.what-youll-learn-container {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 55px;
  padding-top: 50px;
}

.what-youll-learn-title {
  font-family: GTWalsheimRegular;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.what-youll-learn-contents p {
  text-align: center;
  font-family: GTWalsheimRegular;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
}

.corporate-training-copy {
  text-align: center !important;
  font-family: GTWalsheimRegular;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
}

.corporate-training-copy-link {
  text-align: center;
  margin-top: 20px !important;
  font-size: 16px !important;
}

.corporate-training-copy-link a {
  color: #ffc107;
  text-decoration: none;
}

.workshop-copy {
  text-align: center !important;
  font-family: GTWalsheimRegular;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
}

.workshop-copy-link {
  text-align: center;
  margin-top: 20px !important;
  font-size: 16px !important;
}

.workshop-copy-link a {
  color: #ffc107;
  text-decoration: none;
}

.corporate-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100% !important;
}

.workshop-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100% !important;
}

.corporate {
  width: 300px;
  color: black ;
}

.pdf-button-container {
  margin-top: 5px !important;
}

.corporate:hov {
  width: 190px;
  color: black ;
}

.offering-list a {
  text-decoration: none;
}

.online-training-container {
  padding: 80px 0px;
  text-align: center;
}

.online-training-content {
  text-align: center !important;
  font-family: GTWalsheimRegular;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
}

/* New workshop additions */
section.workshops-section {
  font-family: GTWalsheimRegular;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  width: 100%;
}

div.workshop-section-content {
  max-width: 1200px;
  margin: 0 auto;
}

section.workshops-section p {
  color: #a5a5a5;
}

section.workshops-section p.workshop-section-title {
  font-family: GTWalsheimRegular;
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
  color: #444;
  padding-top: 20px;
}

section.workshops-section div.workshop-listing {
  width: 33%;
  float:left;
  margin: 0 auto;
  padding: 0 30px;
}

section.workshops-section div.workshop-listing h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

section.workshops-section div.workshop-listing p.workshop-date-city__state {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-family: GTWalsheimLight;
  font-weight: lighter;
  padding-bottom: 5px;
}

section.workshops-section div.workshop-listing p.workshop-location {
  text-align: center;
  font-family: GTWalsheimLight;
  font-weight: 300;
}

section.workshops-section div.workshop-listing p.workshop-location span.host-this-workshop {
  font-size: 13px;
}

section.workshops-section div.workshop-listing div.workshop-register-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100% !important;
}

section.workshops-section div.workshop-listing a {
text-decoration: none;
}

section.workshops-section div.workshop-listing div.workshop-register-button-container p.workshop-register-button {
  width: 300px;
  color: black;
  cursor: pointer;
  text-align: center;
  border: 2px solid #ffc107;
  border-radius: 24px;
  padding: 9px 34px 10px;
  transition: all .2s;
}

section.workshops-section div.workshop-listing div.workshop-register-button-container p.workshop-register-button:hover {
  background-color: #ffc107;
  text-shadow: 0px 1px 1px rgba(0,0,0,.34);
}

section.workshops-section div.workshop-listing p.workshop-description {
  margin-top: 15px;
  line-height: 1.2;
}

section.workshops-section div.city-request-container{
  text-align:center;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

section.workshops-section div.city-request-container p.city-request-copy {
  padding-top: 100px;
  font-family: GTWalsheimRegular;
}
section.workshops-section a {
  text-decoration: none;
}

section.workshops-section button.workshop-button {
  font-size: 18px;
  width: 230px;
  border: 3px solid #a5a5a5;
  padding: 9px 34px;
  text-align: center;
  border-radius: 999px;
  cursor: pointer;
  transition: all .25s linear;
  background-color: transparent;
}

section.workshops-section button.workshop-button:hover {
  background-color: #a5a5a5;
  color: white;
}

button.consulting-button {
  font-size: 18px;
  width: 300px;
  border: 3px solid #ffc107;
  padding: 9px 34px;
  text-align: center;
  border-radius: 999px;
  cursor: pointer;
  transition: all .25s linear;
  background-color: #ffc107;
}

button.consulting-button:hover {
  background-color: #ffc107;
}

.gray-button {
  font-size: 18px;
  width: 300px;
  border: 3px solid #a5a5a5;
  padding: 9px 34px;
  text-align: center;
  border-radius: 999px;
  cursor: pointer;
  transition: all .25s linear;
  background-color: #fff;
}

.gray-button:hover {
  background-color: #a5a5a5;
  color: white;
}

/* Single Workshop Page */
section.ticket-purchases {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  display:flex;
}

section.ticket-purchases div.pricing-info {
  width: 400px;
  float:left;
  margin: 0 auto;
}

section.ticket-purchases div.workshop-details {
  width: 600px;
  float:left;
  margin: 0 auto;
  padding-top: 20px;
}

section.ticket-purchases a {
  text-decoration: none;
}

h2.workshop-price-heading {
  font-family: GTWalsheimBold;
  text-align: center;
  font-size: 48px;
}

p.workshop-price {
  font-family: GTWalsheimBold;
  font-size: 46px;
  margin-bottom: 30px;
}

p.workshop-price sup.dollar-sign{
  font-size: 24px;
}

p.workshop-date-time{
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-family: GTWalsheimLight;
  font-weight: lighter;
  padding-bottom: 5px;
}

p.workshop-venue{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-family: GTWalsheimLight;
  font-weight: lighter;
}

div.workshop-details span.host-this-workshop {
  font-size: 14px;
}

div.workshop-details p.workshop-additional-details {
  margin-top: 30px;
  font-size: 18px;
}

.workshop-ticket-purchase-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100% !important;
}

.workshop-ticket-purchase-button {
  font-family: GTWalsheimLight;
  margin: 0px 20px;
  cursor: pointer;
  margin-top: 4px;
  font-size: 22px;
  text-align: center;
  border: 2px solid #ffc107;
  border-radius: 24px;
  padding: 9px 34px 10px;
  width: 300px;
  color:black;
  margin: 0 auto;
  transition: all .2s;
}

.workshop-ticket-purchase-button:hover {
  background-color: #ffc107;
  text-shadow: 0px 1px 1px rgba(0,0,0,.34);
}

section.workshop-what-youll-learn {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin: 0 auto;
}

section.workshop-what-youll-learn h2 {
  font-size: 28px;
  text-align: center;
}

section.workshop-what-youll-learn div.curriculum-row {
  width: 100%;
  padding: 40px 10% 100px 10%;
}

section.workshop-what-youll-learn div.curriculum-row div.curriculum-item {
  width: 50%;
  float:left;
  padding-left: 5%;
  padding-right: 5%
}

section.workshop-what-youll-learn div.curriculum-row div.curriculum-item h3 {
  text-align: center;
}

section.workshop-what-youll-learn div.curriculum-row div.curriculum-item p {
  text-align: center;
  margin: 10px 0px;
  font-size: 18px;
}

section.workshop-whos-this-for {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 50px;
}

section.workshop-whos-this-for h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

section.workshop-what-to-expect {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 50px;
}

section.workshop-what-to-expect h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.location-link {
  color: #a5a5a5 !important;
}

.location-link:hover {
  color: #ffc107 !important;
}

.partners {
  background-color: white;
  padding: 30px;
  padding-bottom: 40px;
}

.section-title {
  font-family: GTWalsheimRegular;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.partner-logos {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.partner-logo-container {
}

.partner-logo {
  width: 160px;
  transition: opacity .15s linear;
  cursor: pointer;
}

.partner-logo:hover {
  opacity: .35
}

/*
//////////
////////// Signup Forms
//////////
*/

.bootcamp-container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}

.bootcamp {
  width: 333px;
  padding: 20px;
  float: left;
}

.bootcamp-title {
  font-size: 18px;
  font-family: GTWalsheimRegular;
  color: black !important;
  text-align: center;
}

.bootcamp-date {
  font-size: 18px;
  font-family: GTWalsheimBold;
  color: black !important;
  text-transform: uppercase;
  text-align: center;
}

.bootcamp-button {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100% !important;
}

.bootcamp-button-text:hover {
  background-color: #ffc107;
}

.bootcamp-button-text {
  color: black;
  cursor: pointer;
  text-align: center;
  border: 2px solid #ffc107;
  border-radius: 24px;
  padding: 9px 34px 10px;
  transition: all .2s;
  color: black !important;
  transition: all .25s linear;
}

.bootcamp-description {
  font-family: GTWalsheimRegular;
  color: #a5a5a5;
}

/*
//////////
////////// Signup Form Overlay
//////////
*/

.signup-form-overlay {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  padding: 20px 20px;
  position: fixed;
  top: calc(50% - 95px);
  left: calc(50% - 150px);
  width: 300px;
}

.denver, .sf, .phoenix, .boston, .la, .seattle {
  display: none;
}


/*
//////////
////////// begin media queries
//////////
*/

@media(max-width: 1400px) {
  .partner-logo-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media(max-width: 1199px) {
  .mid {
    width: 100%;
  }
  .mid > div {
    float: none;
    width: 100%;
  }
  .breaker {
    height: auto;
  }
  .breaker p {
    margin: 0;
    padding: 20px;
    padding-bottom: 30px;
  }
  
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0px 20px; 
    height: auto;
  }
  .main-title-container {
    padding-top: 40px;
  }
  .main-subtitle {
    padding-top: 40px;
    margin: 20px 40px;
  }
}

@media (max-width: 1050px) {
  .consulting {
    margin-top: 10px !important;
  }
  .bootcamp-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
  }

  .bootcamp {
    width: 100%;
    padding: 20px;
    float: left;
  }

  .bootcamp-button {
    width: 300px !important;
    margin: 10px auto 40px !important;;
  }

  .hero {
    background-attachment: scroll;
    background-image: url(images/classdark.jpg);
  }
  .pdf-button-container {
    margin-bottom: 20px;
  }
  .mid > div p {
    padding-bottom: 7px !important;
  }
  .workshop {
    margin-top: 0px;
  }
  .what-youll-learn-container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .what-youll-learn-title {
    width: 525px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .who-i-am-img-container  {
    width: 100%;
    float: none;
  }
  .who-desc {
    width: 100%;
    float: none;
  }
  .who-i-am {
    float: none;
  }
  .who-desc p:nth-of-type(1) {
    margin-top: 15px;
  }
  .on-site-training {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  .offering-list {
    margin-top: 14px;
  }
  .offering-list > div {
    width: 100%;
    float: none;
  }
  .offering-list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .single-workshop-container {
    border-bottom: 1px solid #ededed;
  }
  .offering-list > div p {
    text-align: center;
  }
  .workshop-date {
    justify-content: center;
  }
  .offering-list-button {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px
  }
  .who-we-are-container {
    width: 100%;
  }
  .who-i-am {
    width: 100%;
    text-align: center;
  }
  .us-icons {
    width: 80px;
    margin: 0 auto;
  }
  .projects-container {
    width: 100%;
  }
  .project {
    width: 100%;
  }
  
 
  section.workshops-section div.workshop-listings div.workshop-listing{
    width: 100%;
  }

  section.workshops-section div.workshop-listings div.workshop-listing p.workshop-description{
    margin: 0 auto;
    margin-top: 25px;
    width: 300px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  section.workshops-section div.city-request-container p.city-request-copy {
    padding-top: 20px;
  }

  section.ticket-purchases {
    width: 100%;
    display:block;
  }
  section.ticket-purchases div.pricing-info {
    width: 100%;
    margin: 0 auto;
  }

  section.ticket-purchases div.workshop-details {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
  }

  section.ticket-purchases div.workshop-details p.workshop-additional-details {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%px;
  }

  p.workshop-date-time {
    font-size: 20px;
  }

  p.workshop-venue {
    font-size: 18px;
  }
} 

@media (max-width: 739px) {
  .submit-container {
    display: flex;
    justify-content: center;
  }
  .workshop-title {
    margin-bottom: 20px;
  }
  .main-subtitle {
    padding-top: 0px;
  }
  .main-title-container {
    padding-top: 15px;
  }
  .hero {
    height: auto;
    padding-bottom: 40px;
  }
  .nav {
    width: 360px;
    margin: 0 auto;
    float: none;
  }
  .nav2 p {
    width: 220px !important;
  }
  .nav2 {
    flex-direction: column;
    width: 320px;
    text-align: center;
    margin: 0 auto;
    float: none;
    padding-top: 0px;
    margin-top: -10px;
  }
  .nav2 p:nth-of-type(3) {
    width: 200px;
    margin: 0 auto;
    margin-top: 18px
  }
  .corporate-training {
    border: 2px solid #ffc107;
    border-radius: 24px;
    padding: 9px 22px 10px;
    width: 220px;
    margin: 0 auto !important;
    margin-top: 10px !important;
  }
  .who-i-am {
    flex-direction: column
  }
  .who-i-am img {
    margin: 0 auto;
  }
  .who-desc p:nth-of-type(1) {
    margin-top: 15px;
  }
  .workshop {
    flex-direction: column;
  }
  .emailsubmitcontainer {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .emailsubmit1 {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .emailsubmit2 {
    flex-direction: column;
    width: 100%;
  }
  .emailsubmitinput {
    margin: 0 auto;
    width: calc(100% - 30px);
  }
  .emailsubmitbutton {
    text-align: center;
    margin-top: 18px;
    width: calc(100% - 30px);
    margin: 20px auto 5px
  }
}

@media (max-width: 450px) {
  .nav {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .logo {
    margin-left: 0;
    padding: 0px 20px;
  }
  .icon {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom:10px;
  }
  .container {
    padding: 0px;
  }
  .main-title {
    padding: 0px 10px;
  }
} 

@media (max-width: 740px) {
  .overlay {
    width: 300px;
    margin-left: -150px;
  }
  .overlay-input {
    width: 100%;
  }
  .overlay-button-submit {
    width: 220px;
  }
  .overlay-title {
    padding-top: 0px;
    font-size: 22px;
  }
  .nav2 p {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  section.workshop-what-youll-learn div.curriculum-row div.curriculum-item {
    width: 100%;
  }

}

@media (max-width: 525px) {
  .what-youll-learn-title {
    width:100%;
  }
}

@media (max-width: 400px) {
  section.workshops-section div.workshop-listings div.workshop-listing p.workshop-description{
    width: 250px;
  }
}

.no-border {
  border: none;
}